* {
    margin: auto;
    font-family: 'Akshar', sans-serif;
}

body {
    height: 200px;
    background-color: #5B72B0
}

ul {
    list-style-type: none;
    margin-left: auto;
    height: 600px;

}

a {
    text-decoration: none;
    color: white;
}

li {
    padding: 30px 2px 110px 0px;
    font-size: 20px;
    text-align: left;

}

.top {
    padding: 0%;
    margin-left: 0;
    border-spacing: 0;
    background-color: #1E336C;
    color: white;
    width: 250px;
    border: 3px solid black;
}

.home {
    width: 300px;
    height: auto;
    position: absolute;
    left: 400px;
    bottom: 300px;
    color: white;
}